<h1>Profil Developer</h1>
<hr>
Nama: Aji Kowiyu <br>
Alamat: Pluit, Jakut <br>
No.Telp: 0859549483 <br>
Role: <%= jabatan %> <br>
Jenis Kelamin: <%= gender %> <br> 
Gaji Pokok: Rp <%= gaji.toLocaleString('id-ID') %> <br>

<!-- cara penulisan pertama logic backend di ejs -->
<!-- buka tutup tag ejs setiap baris sampai logicnya selesai -->
<!-- htmlnya bisa auto ketik, karena htmlnya free akan tampil sesuai  -->
<% if (gaji > 5000000) { %>
    Status: <b>Kena Pajak Penghasilan 2.5%</b>
<% } else { %>
    Status: <b>Tidak perlu bayar pajak</b>
<% } %>


<!--  -->
<!--  -->
<!--  -->
<!-- <%
    if (gaji > 5000000) {
        __append('Status: <b>Pajak Peghasilan  2.5%</b>')
    } else {
        __append('Status: <b>Tidak perlu bayar pajak</b>')
    }
 %> -->
<hr><hr>

<a href="/hubungi">
    <button>Hubungi DISINI BOS!!!</button>
</a>