<!-- <h1>Halaman Utama</h1>
<hr><hr>
<a href="/karyawan">
    <button style="padding: 7px">
        Data Karyawan
    </button>
</a> -->

<body>
    <h1>Rohani Islam</h1><hr><hr>
    <ol>
        <li>Departemen Rohis
            <ul>
                <li>Pembinaan</li>
                <li>Syi'ar da Dakwah</li>
                <li>Sosial dan Budaya</li>
                <li>Masjid dan Peibadatan</li>
                <li>UKM</li>
            </ul>
        </li>
        <li>Struktur Rohis
            <ul>
                <li>Pembina</li>
                <li>Ketua Rohis </li>
                <li>Ketua Keputrian</li>
                <li>Sekretaris</li>
                <li>Bendahara</li>
                <li>Ketua Divisi</li>
                <li>Koordinator Akhwat</li>
            </ul>
        </li>
        <li>Dayla Lituhayu</li>
        <li>Kaifa Nisa</li>
    </ol>
</body>